{% extends 'base.html' %}
{% set title='Order' %}
{% block title %}{{ title }} Page {% endblock %}
{% set page = 'Order' %}

{% block content %}
    <div id="container">
        <div id="order">
            <p class="Details">amount of pizzas</p>
            <input id="num_pizza" type="number" name="num" min="0" max="10">
            <p class="Details"> delivery fairs </p>
            <p id="price_delivery">20</p>
            <button onclick="calPrice()" class="button">calculation</button>
            <p class="Details">total price</p>
            <p id="total_price"></p>

        </div>

        <div id="pizza_description">
            <button id="step1" onclick="discription()" class="button">click here to reveal your pizza</button>
            <div id="a"></div>
            <p class="Details">the pizza for you is: </p>

            <p id="pic">

            </p>

            <p id="pizzaChosen"></p>
            <p class="Details">description</p>
            <p id="descriptionPizza"> </p>
            <p class="Details">price:</p>
            <p id="pizza_price"></p>

        </div>


    </div>

    <div class="set__order__btn">
        <button id="setOrderBtn" class="button" onclick="goToOC()">go to payment</button>
    </div>
    {% endblock %}