{% extends 'base.html' %}
{% set title='Gallery' %}
{% block title %}{{ title }} Page {% endblock %}
{% set page = 'Gallery' %}

{% block content %}

    <!-- Gallery -->
    <div>
        <h1>Gallery</h1><br><br>
{% for pizza in allPizza %}
         <div id="galleryDiv">
            <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename=pic)}}">
                <img src="{{url_for('static', filename='pizza1.png')}}" alt="pizza1">
            </a>
                <div class="imageDesc">THE {{ pizza.name }}</div>
            <div class="imageDesc">DESCRIPTION: {{ pizza.description }}</div>
                <div class="imageDesc">PRICE: {{ pizza.price }}</div>
            </div>
         </div>
{% endfor %}

    </div>
       {% endblock %}
<!--    <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza1.png')}}">
                <img src="{{url_for('static', filename='pizza1.png')}}" alt="pizza1">
            </a>
            <div class="imageDesc">Corn, tomato, bell pepper and olive pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza2.jpg')}}">
                <img src="{{url_for('static', filename='pizza2.jpg')}}" alt="pizza2">
            </a>
            <div class="imageDesc">Spinach, pineapple, onion and bell pepper pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza3.jpg')}}">
                <img src="{{url_for('static', filename='pizza3.jpg')}}" alt="pizza3">
            </a>
            <div class="imageDesc">Feta cheese, mushroom, ham and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza4.jpg')}}">
                <img src="{{url_for('static', filename='pizza4.jpg')}}" alt="pizza4">
            </a>
            <div class="imageDesc">Classic pepperoni and tomato pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza5.jpg')}}">
                <img src="{{url_for('static', filename='pizza5.jpg')}}" alt="pizza5">
            </a>
            <div class="imageDesc">Sweet s'mores pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza6.jpg')}}">
                <img src="{{url_for('static', filename='pizza6.jpg')}}" alt="pizza6">
            </a>
            <div class="imageDesc">Pineapple and ham pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza7.jpg')}}">
                <img src="{{url_for('static', filename='pizza7.jpg')}}" alt="pizza7">
            </a>
            <div class="imageDesc">Guacamole, jalapeno and mozzarella pizza</div>
        </div>

        <div class="galleryImage">
            <a target="_blank" href="{{url_for('static', filename='pizza8.jpg')}}">
                <img src="{{url_for('static', filename='pizza8.jpg')}}" alt="pizza8">
            </a>
            <div class="imageDesc">Onion and tomato pizza</div>
        </div>
    </div> -->